{{#if addNewAnswer}}
    <form class="new-answer">
        <div class="form-group">
            {{input value=author id="author" placeholder="Name"}}
        </div>

        <div class="form-group">
            {{input value=body id="body" placeholder="Answer"}}
        </div>

        <button class="btn btn-success" {{action 'saveAnswer'}}>Post Answer</button>
    </form>
{{else}}
    <button  class="btn btn-success"{{action 'answerForm'}}>New Answer</button>
{{/if}}
