{{#if addNewQuestion}}
    <form class="new-question">
        <div class="form-group">
            {{input value=author id="author" placeholder="Name"}}
        </div>

        <div class="form-group">
            {{input value=body id="body" placeholder="Question"}}
        </div>

        <div class="form-group">
            {{input value=note id="note" placeholder="Notes"}}
        </div>

        <button class="btn btn-primary" {{action 'saveQuestion'}}>Post Question</button>
    </form>
{{else}}
    <button class="btn btn-primary" {{action 'questionForm'}}>New Question</button>
{{/if}}
