{{#if updateQuestion}}
    <h4>Edit {{question.author}}'s Question</h4>
    <div>
      <form class="edit-question">
          <div class="form-group">
              {{input value=author id="author" placeholder="Name"}}
          </div>

          <div class="form-group">
              {{input value=body id="body" placeholder="Question"}}
          </div>

          <div class="form-group">
              {{input value=note id="note" placeholder="Notes"}}
          </div>
            <button class="btn btn-warning" {{action 'editQuestion' question}}>Post Question Edit</button>
        </form>
    </div>
{{else}}
    <button class="btn btn-warning" {{action 'updateQuestion'}}>Edit Question</button>
{{/if}}
